extends ../_base

block title
	title ニューロナとは？
block content
	#app.sub-content
		main.content-wrapper(:class="{'is-show-drawer': showDrawer}")
			.main-content

				section.aboutus
					h3 ニューロナについて
					p 2017年12月結成。音楽を中心にものづくりをしているユニット。VocalのTomoが化学物質過敏症という環境病のためライブハウスでの演奏ができず、インターネットの世界で活動している。パンク・EDM・レゲエ・古典音楽…！？音楽ジャンルに節操なく、キャッチーなメロディの裏に、生きづらさや報われない思い、人間の弱さや強さを紡ぐ。
					p 名前の由来はニューロン（神経細胞）＋ロナ（私の幸せ）の造語。

				section.members
					ul
						li
							h4 Tomo（Vocal）
							.about
								|作詞・作曲・編曲、絵・動画制作。
								br
								|音源ではギターも一部担当。2018年夏頃からInstagram上で、ニューロナの楽曲のギター弾き語りを公開し始める。滑稽なようでどこかひねくれたり毒づいたり、実生活に基づいたリアルな歌を描く傾向にある。
							.sns
								a(href="https://www.instagram.com/0_9_0_9_tomo/" target="_blank") Instagram
								br
								a(href="https://twitter.com/T_o_m_o_mu" target="_blank") twitter

						li
							h4 Hideki（Guitar）
							.about
								|作詞・作曲・編曲、Web制作。
								br
								|音源ではベース、プログラミングも担当。本業はWebデザイナー。結成時は作曲やサウンドプロデュースをメインに行なっていたが、2018年秋から始まったInstagramライブをきっかけにギターも担当。
							.sns
								a(href="https://www.instagram.com/hideki_akiba/" target="_blank") Instagram
								br
								a(href="https://twitter.com/Hidetaro7" target="_blank") twitter

						li
							h4 ちくわ（リーダー）
							.about
								|広報担当、約5歳
								br
								|音寝たり食べたりいたずらしたりする。ニューロナより先にTwitterデビューしており、そこそこの人気もあるようだ…。
							.sns
								a(href="https://www.instagram.com/chikuwa_ya/" target="_blank") Instagram
								br
								a(href="https://twitter.com/chikuwa_cats" target="_blank") twitter


			include ../_header

			a.menu-trigger(href='#', @click="showDrawer=!showDrawer", :class="{active: showDrawer}")
				span
				span
				span
	script(type="module" src="/js/main.js")
