.p-footer__copyright
	.p-footer__copyright-inner
		div
			span &copy; 2018 &nbsp;
				a(href="https://tuqulore.com" target="_blank" title="株式会社 ツクロア") 株式会社 ツクロア
		//-
			div
				span &copy; 2018
					a(href="http://1-tuka.com/" target="_blank" title="よひらさか") 一束
