.main-header
	.main-header-inner
		.p-gnav
			ul

				li
					a(href="/" title="Home") Home
				li
					a(href="/about/" title="About us（自我介绍）") About us
				li
					a(href="/supporters/" title="Supporters（支持者）") Supporters
				//-
					li
						a(href="#" title="Release（工作）") Release
				li
					a(href="http://neurona.jp/blog/" title="Blog（一个博客）") Blog
				li
					a(href="mailto:company@tuqulore.com" title="Contact（查询）") Contact

		.sns
			include ./_sns_btn
