.main-header
	.main-header-inner
		.p-gnav
			ul
				li
					a(href="#" title="About us（自我介绍）") About us
				li
					a(href="#" title="Release（工作）") Release
				li
					a(href="#" title="Blog（一个博客）") Blog
				li
					a(href="mailto:company@tuqulore.com" title="Contact（查询）") Contact

		.sns
			include ./_sns_btn
