header.p-main-header
	.p-main-header-inner
		.p-header-title
			h1.p-logo
				img(src="./img/logo_neurona_dark.png", alt="ニューロナ オフィシャルサイト")
			

		.p-contact
			a.c-btn(href="mailto:company@tuqulore.com") お問い合わせ