extends /_base

block title
	title ニューロナ オフィシャルサイト
block content
	include /_header

	.hero-image
		iframe(width="1024" height="576" src="https://www.youtube.com/embed/l_LJgFMkEk8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
		.video-cover
		//-
			h1.main-title
				img(src="./img/main_ttl.png", alt="ニューロナ")

	main.main-content
		
		.discography-top
			h2.section-title DISCOGRAPHY
			ul
				li
					figure
						a(href="https://youtu.be/S9zcx7o3ASo" target="_blank")
							img(src="img/jacket-1st.jpg" alt="ニューロナ 1st EP - 突き放すよ、これが愛だ君への愛だ")
							.movie-btn
								i
								span MOVIE
						figcaption 突き放すよ、これが愛だ君への愛だ
					.content
						.release-date 1ST-EP 2017-12
						.store-link
							a(href="https://itunes.apple.com/jp/album/id1326712327?app=itunes")
								img(src="./img/banners/itunes.png" alt="iTunes")
							a(href="https://itunes.apple.com/jp/album/id1326712327?app=music")
								img(src="./img/banners/apple_music.png" alt="Apple Music")
							a(href="https://goo.gl/Dxunyx")
								img(src="./img/banners/google_play.png" alt="Google Play Music")
							a(href="http://mora.jp/package/43000074/TCJPR0000411265/")
								img(src="./img/banners/moratouch.png" alt="Mora")
							a(href="http://recochoku.jp/album/A2001139179/")
								img(src="./img/banners/recochoku_recochoku.png" alt="レコチョク")
							a(href="https://music.line.me/album/mb00000000015982e6")
								img(src="./img/banners/line_music.png" alt="LINE Music")
							a(href="https://goo.gl/jxny1M")
								img(src="./img/banners/amazon_music.png" alt="Amazon Music")
						.songs
							span 四足のヒーロー
							span Naturally
							span ラバソニッ！
							span サイレンス
							span 1000年のタイマー
						.demo-movie
							iframe(width="300" height="168" src="https://www.youtube.com/embed/HZiYA8AMBu8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
						
				li
					figure
						a(href="https://youtu.be/HNkytb31Dnw" target="_blank")
							img(src="img/jacket-2nd.jpg" alt="ニューロナ 2nd EP - ナガスギタ春")
							.movie-btn
								i
								span MOVIE
						figcaption ナガスギタ春
					.content
						.release-date 2ND-EP 2018-3
						.store-link
							a(href="https://itunes.apple.com/jp/album/id1364829120?app=itunes")
								img(src="./img/banners/itunes.png" alt="iTunes")
							a(href="https://itunes.apple.com/jp/album/id1364829120?app=music")
								img(src="./img/banners/apple_music.png" alt="Apple Music")
							a(href="https://goo.gl/S8NasV")
								img(src="./img/banners/google_play.png" alt="Google Play Music")
							a(href="http://mora.jp/package/43000074/TCJPR0000426718/")
								img(src="./img/banners/moratouch.png" alt="Mora")
							a(href="http://recochoku.jp/album/A1009815669/")
								img(src="./img/banners/recochoku_recochoku.png" alt="レコチョク")
							a(href="https://music.line.me/album/mb000000000160776d")
								img(src="./img/banners/line_music.png" alt="LINE Music")
							a(href="https://goo.gl/4EentD")
								img(src="./img/banners/amazon_music.png" alt="Amazon Music")
						.songs
							span Promise
							span Strange Days
							span DROPS
							span FRIEND
							span 幾千一夜
							span チケット
						.demo-movie
							iframe(width="300" height="168" src="https://www.youtube.com/embed/HNkytb31Dnw?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
				li
					figure
						a(href="https://youtu.be/HZiYA8AMBu8" target="_blank")
							img(src="img/jacket-3rd.jpg" alt="ニューロナ 3rd EP - 空蝉〜Utsusemi〜")
							.movie-btn
								i
								span MOVIE
						figcaption 空蝉〜Utsusemi〜
					.content
						.release-date 3RD-EP 2018-7
						.store-link
							a(href="https://itunes.apple.com/jp/album/id1409504770?app=itunes")
								img(src="./img/banners/itunes.png" alt="iTunes")
							a(href="https://itunes.apple.com/jp/album/id1409504770?app=music")
								img(src="./img/banners/apple_music.png" alt="Apple Music")
							a(href="https://goo.gl/Wypkx9")
								img(src="./img/banners/google_play.png" alt="Google Play Music")
							a(href="http://mora.jp/package/43000074/TCJPR0000449636/")
								img(src="./img/banners/moratouch.png" alt="Mora")
							a(href="http://recochoku.jp/album/A2001299124/")
								img(src="./img/banners/recochoku_recochoku.png" alt="レコチョク")
							a(href="https://music.line.me/artist/mi000000000e6fd2f8")
								img(src="./img/banners/line_music.png" alt="LINE Music")
							a(href="https://goo.gl/G7HJ4W")
								img(src="./img/banners/amazon_music.png" alt="Amazon Music")
						.songs
							span BOMB!
							span Naturally（2018）
							span So Sweet
							span 四足のヒーロー（2018）
							span 水蜜桃
							span Hello Halo（未完成）
						.demo-movie
							iframe(width="300" height="168" src="https://www.youtube.com/embed/HZiYA8AMBu8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

		.instagram
			h2.section-title INSTAGRAM
			.instagram-container

		.music-video
			h2.section-title VIDEO

			iframe(width="560" height="315" src="https://www.youtube.com/embed/UrRnAtp_6l8?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)

		.media
			h2.section-title LATEST NEWS

			ul
				li
					span.date 2017.12
					span 1st EP 「突き放すよ、これが愛だ君への愛だ」（初音ミク）をリリース
				li
					span.date 2017.12
					span ヴォーカルにTomo加入
				li
					span.date 2018.03
					span 2nd EP 「ナガスギタ春」をリリース
				li
					a(href="http://fmsetouchi.amamin.jp" target="_blank")
						span.date 2018.06
						span エフエムせとうち「サトメグ放送局」で放送されました
				li
					span.date 2018.07
					span 3rd EP 「空蝉〜Utsusemi〜」をリリース

		.member
			h2.section-title WANTED
			p ニューロナでは今後も音楽を作り続けるために、以下のようなメンバーを募集しています。
			ul
				li 楽器全般（ニューロナの楽曲に自分の弾ける楽器の音を足したいと思った方、楽器の種類や音楽ジャンルは問いません）
				li 映像やアニメーションを作れる方（今、私達素人ながら手作り中です。助けてください。）
				li ミックス・マスタリングエンジニア（こちらも私達でやっています、、）
				li その他、表現者である方どなたでも。

			p 関わってくださる方に制限は特に設けていません。居住地、国籍、性別、年齢は一切不問です。

			p.tac
				a.c-btn(href="mailto:company@tuqulore.com") メンバー加入についてメールする

		.supporters
			h2.section-title THANKS

			ul
				li
					.supporter-photo
						img(src="img/satomegu.jpg", alt="サトメグ")
					.supporter-content
						.supporter-title RADIO PERSONALITY
						.supporter-name 里 恵
						.supporter-profile
							p 地元ラジオ“エフエムせとうち”にて「サトメグ放送局」の番組を持ち現在引き続き、パーソナリティを務める。
							.supporter-link
								a(href="http://satomeguwebsite.wixsite.com/home/satomegumi" target="_blank") サトメグ さんの公式サイト
							.supporter-link
								a(href="http://fmsetouchi.amamin.jp" target="_blank") エフエムせとうち
				li
					.supporter-photo
						img(src="img/ituka.jpg", alt="一束")
					.supporter-content
						.supporter-title ILLUSTRATOR
						.supporter-name 一束
						.supporter-profile
							p
								| 関西出身のフリーイラストレーター。
								br
								|「やわらかく愛らしく」をモットーに、ノスタルジックで、動物や少女をモチーフにした作品を中心に描いています。また、どことなく「和」を感じる要素を取り入れるよう心がけています。
							.supporter-link
								a(href="http://1-tuka.com/" target="_blank") よひらさか

					//
						| 一束
							a(href="http://1-tuka.com/" target="_blank" title="よひらさか")
								i.ion-android-phone-portrait.u-icon
							a(href="https://twitter.com/1_tuka/" target="_blank")
								i.ion-social-twitter.u-icon
			
						dt All Songs Arranged &amp; Produce
						dd Hideki Akiba
							a(href="https://twitter.com/hidetaro7/" target="_blank")
								i.ion-social-twitter.u-icon
			
						dt Distributed
						dd 株式会社 ツクロア
							a(href="https://tuqulore.com" target="_blank" title="株式会社 ツクロア")
								i.ion-android-phone-portrait.u-icon

	.p-about-copyright
		|楽曲や歌詞は株式会社 ツクロアが管理、イラストは一束が権利を所有しています。
		br
		|配信されている楽曲やイラストの無断使用を禁じます。
	//-
		include /_footer

	
	script( src="./js/main.bundle.js")
	//-
		script(src="https://code.jquery.com/jquery-2.2.4.min.js")
		script(src="./js/jquery.inview.min.js")
		script( src="./js/main.bundle.js")

