a.iconbtn(href="https://www.youtube.com/channel/UCRKVZiebYGhWRCDxY3OA8cg" target="_blank")
	i.fab.fa-youtube
a.iconbtn(href="https://www.instagram.com/0_9_0_9_tomo/" target="_blank")
	i.fab.fa-instagram
a.iconbtn(href="https://twitter.com/neurona_jp" target="_blank")
	i.fab.fa-twitter