extends ./_base

block title
	title ニューロナ オフィシャルサイト
block content
	#app
		main.content-wrapper(:class="{'is-show-drawer': showDrawer}")
			.visual
				music-player
			.main-content
				.artist-title
					h1.main-title
						img(src="./img/main_ttl.png", alt="ニューロナ")
					h2.sub-title
						span neurona | 神经元我的幸福
				.release
					.related-area
						swiper(ref="awesomeSwiperA" :options="swiperOptionA" @set-translate="onSetTranslate")
							// slides
							swiper-slide(v-for="item in releaseData.releases")
								release-card( :item-data="item")
							// Optional controls
							.swiper-button-prev(slot="button-prev")
							.swiper-button-next(slot="button-next")
			include ./_header

			a.menu-trigger(href='#', @click="showDrawer=!showDrawer", :class="{active: showDrawer}")
				span
				span
				span
	script(type="module" src="./js/main.js")
