extends /_base

block title
	title ニューロナ
block content
	include /_header
	
	include /_footer


	.c-button-pagetop
		img.c-button-pagetop__icon(src="img/fig_icon_up.svg" alt="to page top")

	

	script(src="https://code.jquery.com/jquery-2.2.4.min.js")
	script(src="./js/jquery.inview.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/89/three.js")
	script(src="./js/video_text.js")
	script(src="./js/OrbitControls.js")
	noscript
		link(rel="stylesheet", href="/css/noscript.css")
