.music-player {
  padding: 0 1rem 0.1rem;
  position: relative;
  z-index: 3;
  display: flex;
  align-items: flex-end;
  .music-player-waver {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .music-player-inner {
    display: flex;
    color: #444;
    line-height: 1.1;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-left: 1rem;
  }
  .song-info {
    display: flex;
    align-items: center;
  }
  .song-title {
    margin-right: 0.5rem;
    font-size: 0.8rem;
    font-weight: 700;
  }
  .song-album {
    font-size: 0.6rem;
  }
  .play-btn {
    padding: 0.5rem;
    .btn-pause {
      display: none;
    }
    &.is-play {
      .btn-pause {
        display: block;
      }
      .btn-play {
        display: none;
      }
    }
  }
  .play-volume {
    padding: 0.5rem;
    position: relative;
    .btn-mute-off {
      display: none;
    }
    .tooltip {
      left: -1.5rem;
    }
    &.is-mute {
      .btn-mute-off {
        display: block;
      }
      .btn-mute-on {
        display: none;
      }
    }
  }
}
