.l-container {
  width: $content-width;
  margin: auto;
  @include sp-screen() {
    width: auto;
    padding: 0 1rem;
  }
}

.l-min-container {
  width: $content-width * .8;
  margin: auto;
  @include sp-screen() {
    width: auto;
    padding: 0 1rem;
  }
}