.u-clearfix {
  clear: both;
  content: "";
  display: block;
}

.color-alert {
  color: #f30;
}

.tac {
  text-align: center;
}

.u-fs05r {
  font-size: 0.5rem;
}

.u-fs075r {
  font-size: 0.75rem;
}

.u-fs0875r {
  font-size: 0.875rem;
}

.u-fs1125r {
  font-size: 1.125rem;
}

.u-fs125r {
  font-size: 1.25rem;
}

.u-fs15r {
  font-size: 1.5rem;
}

.u-fs175r {
  font-size: 1.75rem;
}

.u-fs1875r {
  font-size: 1.875rem;
}

.u-fs2r {
  font-size: 2rem;
}

.u-fs225r {
  font-size: 2.25rem;
}

.u-fs2875r {
  font-size: 2.875rem;
}
