@import "foundation/**";
@import "layout/**";
@import "object/**";

body {
  background-color: rgb(243, 243, 243);
  //#de6284: 100%;
  letter-spacing: -0.02em;
  line-height: 1.8;
}

.p-main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(#000, 0.4);
  //border-bottom: 1px solid rgba(#666, 0.3);
}

.p-gnav {
  ul {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      a {
        text-decoration: none;
        font-weight: bold;
        display: block;
        color: #ccc;
        padding: 10px 1rem;
        position: relative;

        &::after {
          content: "";
          display: block;
          background-color: #ccc;
          position: absolute;
          width: 100%;
          height: 3px;
          border-radius: 4px;
          bottom: -5px;
          left: 0;
          transform: scale(0);
          transition: 0.2s;
        }

        &:hover {
          &::after {
            transform: scale(1);
          }
        }
      }
    }
  }
}

.p-main-header-inner {
  padding: 1rem 0;
  line-height: 1;
  @include fb();
  width: 1024px;
  margin: auto;
  @include sp-screen {
    width: auto;
    padding: 1rem;
  }

  .p-logo {
    margin: 0;
    vertical-align: middle;
    font-size: 100%;

    img {
      width: 120px;
      vertical-align: middle;
    }
  }
}

.p-contact {
  display: flex;
  align-items: center;
}

.iconbtn {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    font-size: 9px;
    text-decoration: none;
    margin-top: 4px;
  }
}

.section-title {
  text-align: center;
  font-size: 260%;
  font-weight: normal;
  font-family: "Montserrat", sans-serif;
}

.hero-image {
  position: relative;
  @include fb(center);

  /* &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(../img/aotaro_main.jpg) center no-repeat;
    background-size: cover;
    opacity: 0.2;
    position: absolute;
    left: 0;
    top: 0;
  } */
  width: 100%;
}

.video-cover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: url(../img/sai.jpg) no-repeat center;
  background-size: cover;
}

.play-btn {
  position: absolute;
  z-index: 3;
  left: calc(50% - 70px);
  top: calc(50% - 70px);
  color: rgba(#fff, 0.5);
  font-size: 60px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: rgba(#000, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(#ccc, 0.5);
}

.main-title {
  width: 25vw;
  position: relative;
  z-index: 2;

  @include sp-screen {
    width: 60vw;
  }
}

.main-content {
  width: 1024px;
  margin: auto;
  @include sp-screen {
    width: auto;
  }
}

.discography-top {
  @include sp-screen {
    padding: 0 2rem;
  }

  ul {
    @include fb(space-between, stretch);
    flex-wrap: wrap;
    @include sp-screen {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  li {
    flex-basis: 49%;
    flex-grow: 1;
    max-width: calc(50% - 5px);
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    overflow: hidden;

    @include sp-screen {
      max-width: initial;
      max-width: auto;
      margin-bottom: 2rem;
    }
  }

  figure {
    width: 35%;
    position: relative;

    a {
      text-decoration: none;
      position: relative;
      display: block;
      @include sp-screen {
        width: 70%;
        margin: auto;
      }
    }
  }

  figcaption {
    margin-top: 15px;
    text-align: center;
    font-size: 100%;
  }

  .comming-soon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 90%;
    line-height: 1.6;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 120%;
  }

  .content {
    text-align: center;
    flex-grow: 1;
    flex-basis: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1em;

    h3 {
      margin: 0;
    }
  }

  .release-date {
    font-size: 90%;
    font-weight: bold;
  }

  .store-link {
    margin: 5px 0;

    a {
      line-height: 1;
      display: inline-block;
      font-size: x-small;
      margin: 5px 5px;

      img {
        width: 26px;
        @include sp-screen {
          width: 34px;
        }
      }
    }
  }

  .movie-btn {
    color: #555;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    right: 20px;
    @include fb();
    background-color: rgba(#fff, 0.8);
    border-radius: 40px;
    padding: 4px 12px;
    line-height: 1;

    i {
      &::before {
        content: "\f42b";
        font-family: "Ionicons";
        font-style: normal;
      }
      font-size: 14px;
      margin-right: 5px;
    }

    span {
      font-size: 10px;
      font-weight: bold;
    }
  }

  .demo-movie {
    display: none;

    iframe {
      width: 100%;
    }
  }
}

.songs {
  font-size: 0;

  span {
    font-size: 12px;
    display: inline-block;
    line-height: 1.6;

    &::after {
      content: "/";
      margin: 0 5px;
    }
  }
}

.music-video {
  text-align: center;

  @include sp-screen {
    iframe {
      width: calc(100vw - 2rem);
      height: calc(56.25vw - 2rem);
    }
  }

  .music-video-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    iframe {
      width: 49%;
    }
  }
}

.member {
  width: 700px;
  margin: auto;
  @include sp-screen {
    width: auto;
    padding: 0 2rem;
  }

  li {
    list-style-type: disc;
    margin-left: 30px;
    font-size: 80%;
  }
}

.instagram {
  //width: 700px;
  margin: auto;

  .instagram-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  .insta-item {
    width: 220px;
    height: 220px;
    margin-bottom: 48px;
  }

  .insta-thumbnail {
    width: 220px;
    height: 220px;
    border-radius: 2px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.media {
  @include sp-screen {
    padding: 0 2rem;
  }

  ul {
    width: 700px;
    height: 200px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin: auto;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 4px;
    //border-top: 1px solid #ccc;
    @include sp-screen {
      width: auto;
    }
  }

  li {
    //border-bottom: 1px solid #ccc;
    padding: 2px 0;

    a {
      display: block;
      text-decoration: none;
    }

    span {
      &.date {
        color: #888;
        margin-right: 0.5rem;
        font-size: 90%;
      }
    }
  }
}

.supporters {
  @include sp-screen {
    padding: 0 2rem;
  }

  ul {
    @include fb(center, flex-start);
    flex-wrap: no-wrap;
    @include sp-screen {
      flex-direction: column;
    }
  }

  li {
    max-width: 300px;
    margin: 0 20px;
    @include sp-screen {
      margin: 0;
      margin-bottom: 2rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid #ccc;
    }
  }

  .supporter-photo {
    text-align: center;
    margin-bottom: 10px;

    img {
      border-radius: 50%;
      width: 50%;
    }
  }

  .supporter-title {
    font-size: 80%;
  }

  .supporter-name {
    font-size: 120%;
    margin-bottom: 5px;
  }

  .supporter-content {
    text-align: center;
  }

  .supporter-profile {
    text-align: left;
    font-size: 80%;
    @include sp-screen {
      font-size: 100%;
    }
  }
}

.p-about-copyright {
  text-align: center;
  margin: 4rem 0;
  line-height: 1.4;
  font-size: x-small;
  @include sp-screen {
    margin: 4rem 2rem;
  }
}

.p-footer__copyright {
  font-size: 80%;
  line-height: 1.4;
}
